<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/edit.css">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div class="formdiv">
        <h1>Sign up</h1>
        <form action="{{url_for('signup')}}" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="submitchange">
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div class="submitchange">
            <button onclick="goBack()">Back</button>
        </div>
    </div>
    <script src="../static/js/home.js"></script>
</body>
</html>